{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://vault.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Archiving and eDiscovery for G Suite.",
        "title": "G Suite Vault",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-apisguru-categories": [
            "storage"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://vault.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "vault"
    },
    "externalDocs": {
        "url": "https://developers.google.com/vault"
    },
    "tags": [
        {
            "name": "matters"
        }
    ],
    "paths": {
        "/v1/matters": {
            "get": {
                "description": "Lists matters the user has access to.",
                "operationId": "vault.matters.list",
                "parameters": [
                    {
                        "description": "The number of matters to return in the response.\nDefault and maximum are 100.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The pagination token as returned in the response.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "If set, list only matters with that specific state. The default is listing\nmatters of all states.",
                        "in": "query",
                        "name": "state",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "STATE_UNSPECIFIED",
                                "OPEN",
                                "CLOSED",
                                "DELETED"
                            ]
                        }
                    },
                    {
                        "description": "Specifies which parts of the matter to return in response.",
                        "in": "query",
                        "name": "view",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Provides the list of matters.",
                                    "properties": {
                                        "matters": {
                                            "description": "List of matters.",
                                            "items": {
                                                "description": "Represents a matter.",
                                                "properties": {
                                                    "description": {
                                                        "description": "The description of the matter.",
                                                        "type": "string"
                                                    },
                                                    "matterId": {
                                                        "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                                        "type": "string"
                                                    },
                                                    "matterPermissions": {
                                                        "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                                        "items": {
                                                            "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                                            "properties": {
                                                                "accountId": {
                                                                    "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                                    "type": "string"
                                                                },
                                                                "role": {
                                                                    "description": "The user's role in this matter.",
                                                                    "enum": [
                                                                        "ROLE_UNSPECIFIED",
                                                                        "COLLABORATOR",
                                                                        "OWNER"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "The name of the matter.",
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "description": "The state of the matter.",
                                                        "enum": [
                                                            "STATE_UNSPECIFIED",
                                                            "OPEN",
                                                            "CLOSED",
                                                            "DELETED"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "Page token to retrieve the next page of results in the list.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery.readonly"
                        ]
                    }
                ],
                "tags": [
                    "matters"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new matter with the given name and description. The initial state\nis open, and the owner is the method caller. Returns the created matter\nwith default view.",
                "operationId": "vault.matters.create",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a matter.",
                                    "properties": {
                                        "description": {
                                            "description": "The description of the matter.",
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                            "type": "string"
                                        },
                                        "matterPermissions": {
                                            "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                            "items": {
                                                "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                                "properties": {
                                                    "accountId": {
                                                        "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                        "type": "string"
                                                    },
                                                    "role": {
                                                        "description": "The user's role in this matter.",
                                                        "enum": [
                                                            "ROLE_UNSPECIFIED",
                                                            "COLLABORATOR",
                                                            "OWNER"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "description": "The name of the matter.",
                                            "type": "string"
                                        },
                                        "state": {
                                            "description": "The state of the matter.",
                                            "enum": [
                                                "STATE_UNSPECIFIED",
                                                "OPEN",
                                                "CLOSED",
                                                "DELETED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery"
                        ]
                    }
                ],
                "tags": [
                    "matters"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a matter.",
                                "properties": {
                                    "description": {
                                        "description": "The description of the matter.",
                                        "type": "string"
                                    },
                                    "matterId": {
                                        "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                        "type": "string"
                                    },
                                    "matterPermissions": {
                                        "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                        "items": {
                                            "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                            "properties": {
                                                "accountId": {
                                                    "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "description": "The user's role in this matter.",
                                                    "enum": [
                                                        "ROLE_UNSPECIFIED",
                                                        "COLLABORATOR",
                                                        "OWNER"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "name": {
                                        "description": "The name of the matter.",
                                        "type": "string"
                                    },
                                    "state": {
                                        "description": "The state of the matter.",
                                        "enum": [
                                            "STATE_UNSPECIFIED",
                                            "OPEN",
                                            "CLOSED",
                                            "DELETED"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/matters/{matterId}": {
            "delete": {
                "description": "Deletes the specified matter. Returns matter with updated state.",
                "operationId": "vault.matters.delete",
                "parameters": [
                    {
                        "description": "The matter ID",
                        "in": "path",
                        "name": "matterId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a matter.",
                                    "properties": {
                                        "description": {
                                            "description": "The description of the matter.",
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                            "type": "string"
                                        },
                                        "matterPermissions": {
                                            "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                            "items": {
                                                "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                                "properties": {
                                                    "accountId": {
                                                        "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                        "type": "string"
                                                    },
                                                    "role": {
                                                        "description": "The user's role in this matter.",
                                                        "enum": [
                                                            "ROLE_UNSPECIFIED",
                                                            "COLLABORATOR",
                                                            "OWNER"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "description": "The name of the matter.",
                                            "type": "string"
                                        },
                                        "state": {
                                            "description": "The state of the matter.",
                                            "enum": [
                                                "STATE_UNSPECIFIED",
                                                "OPEN",
                                                "CLOSED",
                                                "DELETED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery"
                        ]
                    }
                ],
                "tags": [
                    "matters"
                ]
            },
            "get": {
                "description": "Gets the specified matter.",
                "operationId": "vault.matters.get",
                "parameters": [
                    {
                        "description": "The matter ID.",
                        "in": "path",
                        "name": "matterId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Specifies which parts of the Matter to return in the response.",
                        "in": "query",
                        "name": "view",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a matter.",
                                    "properties": {
                                        "description": {
                                            "description": "The description of the matter.",
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                            "type": "string"
                                        },
                                        "matterPermissions": {
                                            "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                            "items": {
                                                "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                                "properties": {
                                                    "accountId": {
                                                        "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                        "type": "string"
                                                    },
                                                    "role": {
                                                        "description": "The user's role in this matter.",
                                                        "enum": [
                                                            "ROLE_UNSPECIFIED",
                                                            "COLLABORATOR",
                                                            "OWNER"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "description": "The name of the matter.",
                                            "type": "string"
                                        },
                                        "state": {
                                            "description": "The state of the matter.",
                                            "enum": [
                                                "STATE_UNSPECIFIED",
                                                "OPEN",
                                                "CLOSED",
                                                "DELETED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery.readonly"
                        ]
                    }
                ],
                "tags": [
                    "matters"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Updates the specified matter.\nThis updates only the name and description of the matter, identified by\nmatter id. Changes to any other fields are ignored.\nReturns the default view of the matter.",
                "operationId": "vault.matters.update",
                "parameters": [
                    {
                        "description": "The matter ID.",
                        "in": "path",
                        "name": "matterId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a matter.",
                                    "properties": {
                                        "description": {
                                            "description": "The description of the matter.",
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                            "type": "string"
                                        },
                                        "matterPermissions": {
                                            "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                            "items": {
                                                "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                                "properties": {
                                                    "accountId": {
                                                        "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                        "type": "string"
                                                    },
                                                    "role": {
                                                        "description": "The user's role in this matter.",
                                                        "enum": [
                                                            "ROLE_UNSPECIFIED",
                                                            "COLLABORATOR",
                                                            "OWNER"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "description": "The name of the matter.",
                                            "type": "string"
                                        },
                                        "state": {
                                            "description": "The state of the matter.",
                                            "enum": [
                                                "STATE_UNSPECIFIED",
                                                "OPEN",
                                                "CLOSED",
                                                "DELETED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery"
                        ]
                    }
                ],
                "tags": [
                    "matters"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a matter.",
                                "properties": {
                                    "description": {
                                        "description": "The description of the matter.",
                                        "type": "string"
                                    },
                                    "matterId": {
                                        "description": "The matter ID which is generated by the server.\nShould be blank when creating a new matter.",
                                        "type": "string"
                                    },
                                    "matterPermissions": {
                                        "description": "List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.",
                                        "items": {
                                            "description": "Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.",
                                            "properties": {
                                                "accountId": {
                                                    "description": "The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.",
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "description": "The user's role in this matter.",
                                                    "enum": [
                                                        "ROLE_UNSPECIFIED",
                                                        "COLLABORATOR",
                                                        "OWNER"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "name": {
                                        "description": "The name of the matter.",
                                        "type": "string"
                                    },
                                    "state": {
                                        "description": "The state of the matter.",
                                        "enum": [
                                            "STATE_UNSPECIFIED",
                                            "OPEN",
                                            "CLOSED",
                                            "DELETED"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/matters/{matterId}/exports": {
            "get": {
                "description": "Lists Exports.",
                "operationId": "vault.matters.exports.list",
                "parameters": [
                    {
                        "description": "The matter ID.",
                        "in": "path",
                        "name": "matterId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The number of exports to return in the response.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The pagination token as returned in the response.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The holds for a matter.",
                                    "properties": {
                                        "exports": {
                                            "description": "The list of exports.",
                                            "items": {
                                                "description": "An export",
                                                "properties": {
                                                    "cloudStorageSink": {
                                                        "description": "Output only. Export sink for cloud storage files.",
                                                        "properties": {
                                                            "files": {
                                                                "description": "Output only. The exported files on cloud storage.",
                                                                "items": {
                                                                    "description": "An export file on cloud storage",
                                                                    "properties": {
                                                                        "bucketName": {
                                                                            "description": "The cloud storage bucket name of this export file.\nCan be used in cloud storage JSON/XML API.",
                                                                            "type": "string"
                                                                        },
                                                                        "md5Hash": {
                                                                            "description": "The md5 hash of the file.",
                                                                            "type": "string"
                                                                        },
                                                                        "objectName": {
                                                                            "description": "The cloud storage object name of this export file.\nCan be used in cloud storage JSON/XML API.",
                                                                            "type": "string"
                                                                        },
                                                                        "size": {
                                                                            "description": "The size of the export file.",
                                                                            "format": "int64",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "createTime": {
                                                        "description": "Output only. The time when the export was created.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "exportOptions": {
                                                        "description": "Advanced options of the export.",
                                                        "properties": {
                                                            "driveOptions": {
                                                                "description": "Option available for Drive export.",
                                                                "properties": {
                                                                    "includeAccessInfo": {
                                                                        "description": "Set to true to include access level information for users\nwith <a href=\"https://support.google.com/vault/answer/6099459#metadata\">indirect access</a>\nto files.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "groupsOptions": {
                                                                "description": "Option available for groups export.",
                                                                "properties": {
                                                                    "exportFormat": {
                                                                        "description": "The export format for groups export.",
                                                                        "enum": [
                                                                            "EXPORT_FORMAT_UNSPECIFIED",
                                                                            "MBOX",
                                                                            "PST"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "hangoutsChatOptions": {
                                                                "description": "Option available for hangouts chat export.",
                                                                "properties": {
                                                                    "exportFormat": {
                                                                        "description": "The export format for hangouts chat export.",
                                                                        "enum": [
                                                                            "EXPORT_FORMAT_UNSPECIFIED",
                                                                            "MBOX",
                                                                            "PST"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "mailOptions": {
                                                                "description": "Option available for mail export.",
                                                                "properties": {
                                                                    "exportFormat": {
                                                                        "description": "The export file format.",
                                                                        "enum": [
                                                                            "EXPORT_FORMAT_UNSPECIFIED",
                                                                            "MBOX",
                                                                            "PST"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "showConfidentialModeContent": {
                                                                        "description": "Set to true to export confidential mode content.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "region": {
                                                                "description": "The requested export location.",
                                                                "enum": [
                                                                    "EXPORT_REGION_UNSPECIFIED",
                                                                    "ANY",
                                                                    "US",
                                                                    "EUROPE"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "description": "Output only. The generated export ID.",
                                                        "type": "string"
                                                    },
                                                    "matterId": {
                                                        "description": "Output only. The matter ID.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The export name.",
                                                        "type": "string"
                                                    },
                                                    "query": {
                                                        "description": "The search query being exported.",
                                                        "properties": {
                                                            "accountInfo": {
                                                                "description": "When 'ACCOUNT' is chosen as search method,\naccount_info needs to be specified.",
                                                                "properties": {
                                                                    "emails": {
                                                                        "description": "A set of accounts to search.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "corpus": {
                                                                "description": "The corpus to search.",
                                                                "enum": [
                                                                    "CORPUS_TYPE_UNSPECIFIED",
                                                                    "DRIVE",
                                                                    "MAIL",
                                                                    "GROUPS",
                                                                    "HANGOUTS_CHAT"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "dataScope": {
                                                                "description": "The data source to search from.",
                                                                "enum": [
                                                                    "DATA_SCOPE_UNSPECIFIED",
                                                                    "ALL_DATA",
                                                                    "HELD_DATA",
                                                                    "UNPROCESSED_DATA"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "driveOptions": {
                                                                "description": "For Drive search, specify more options in this field.",
                                                                "properties": {
                                                                    "includeTeamDrives": {
                                                                        "description": "Set to true to include Team Drive.",
                                                                        "type": "boolean"
                                                                    },
                                                                    "versionDate": {
                                                                        "description": "Search the versions of the Drive file\nas of the reference date. These timestamps are in GMT and\nrounded down to the given date.",
                                                                        "format": "google-datetime",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "endTime": {
                                                                "description": "The end time range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.",
                                                                "format": "google-datetime",
                                                                "type": "string"
                                                            },
                                                            "hangoutsChatInfo": {
                                                                "description": "When 'ROOM' is chosen as search method, hangout_chats_info needs to be\nspecified. (read-only)",
                                                                "properties": {
                                                                    "roomId": {
                                                                        "description": "A set of rooms to search.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "hangoutsChatOptions": {
                                                                "description": "For hangouts chat search, specify more options in this field. (read-only)",
                                                                "properties": {
                                                                    "includeRooms": {
                                                                        "description": "Set to true to include rooms.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "mailOptions": {
                                                                "description": "For mail search, specify more options in this field.",
                                                                "properties": {
                                                                    "excludeDrafts": {
                                                                        "description": "Set to true to exclude drafts.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "orgUnitInfo": {
                                                                "description": "When 'ORG_UNIT' is chosen as as search method, org_unit_info needs\nto be specified.",
                                                                "properties": {
                                                                    "orgUnitId": {
                                                                        "description": "Org unit to search, as provided by the\n<a href=\"https://developers.google.com/admin-sdk/directory/\">Admin SDK Directory API</a>.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "searchMethod": {
                                                                "description": "The search method to use.",
                                                                "enum": [
                                                                    "SEARCH_METHOD_UNSPECIFIED",
                                                                    "ACCOUNT",
                                                                    "ORG_UNIT",
                                                                    "TEAM_DRIVE",
                                                                    "ENTIRE_ORG",
                                                                    "ROOM"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "startTime": {
                                                                "description": "The start time range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.",
                                                                "format": "google-datetime",
                                                                "type": "string"
                                                            },
                                                            "teamDriveInfo": {
                                                                "description": "When 'TEAM_DRIVE' is chosen as search method, team_drive_info needs to be\nspecified.",
                                                                "properties": {
                                                                    "teamDriveIds": {
                                                                        "description": "List of Team Drive ids, as provided by <a\nhref=\"https://developers.google.com/drive\">Drive API</a>.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "terms": {
                                                                "description": "The corpus-specific\n<a href=\"https://support.google.com/vault/answer/2474474\">search operators</a>\nused to generate search results.",
                                                                "type": "string"
                                                            },
                                                            "timeZone": {
                                                                "description": "The time zone name.\nIt should be an IANA TZ name, such as \"America/Los_Angeles\".\nFor more information, see\n<a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\">Time\nZone</a>.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "requester": {
                                                        "description": "Output only. The requester of the export.",
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The displayed name of the user.",
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "description": "The email address of the user.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "stats": {
                                                        "description": "Output only. Export statistics.",
                                                        "properties": {
                                                            "exportedArtifactCount": {
                                                                "description": "The number of documents already processed by the export.",
                                                                "format": "int64",
                                                                "type": "string"
                                                            },
                                                            "sizeInBytes": {
                                                                "description": "The size of export in bytes.",
                                                                "format": "int64",
                                                                "type": "string"
                                                            },
                                                            "totalArtifactCount": {
                                                                "description": "The number of documents to be exported.",
                                                                "format": "int64",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "status": {
                                                        "description": "Output only. The export status.",
                                                        "enum": [
                                                            "EXPORT_STATUS_UNSPECIFIED",
                                                            "COMPLETED",
                                                            "FAILED",
                                                            "IN_PROGRESS"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "Page token to retrieve the next page of results in the list.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/ediscovery.readonly"
                        ]
                    }
                ],
                "tags": [
                    "matters"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an Export.",
                "operationId": "vault.matters.exports.create",
                "parameters": [
                    {
                        "description": "The matter ID.",
                        "in": "path",
                        "name": "matterId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An export",
                                    "properties": {
                                        "cloudStorageSink": {
                                            "description": "Output only. Export sink for cloud storage files.",
                                            "properties": {
                                                "files": {
                                                    "description": "Output only. The exported files on cloud storage.",
                                                    "items": {
                                                        "description": "An export file on cloud storage",
                                                        "properties": {
                                                            "bucketName": {
                                                                "description": "The cloud storage bucket name of this export file.\nCan be used in cloud storage JSON/XML API.",
                                                                "type": "string"
                                                            },
                                                            "md5Hash": {
                                                                "description": "The md5 hash of the file.",
                                                                "type": "string"
                                                            },
                                                            "objectName": {
                                                                "description": "The cloud storage object name of this export file.\nCan be used in cloud storage JSON/XML API.",
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "description": "The size of the export file.",
                                                                "format": "int64",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "createTime": {
                                            "description": "Output only. The time when the export was created.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "exportOptions": {
                                            "description": "Advanced options of the export.",
                                            "properties": {
                                                "driveOptions": {
                                                    "description": "Option available for Drive export.",
                                                    "properties": {
                                                        "includeAccessInfo": {
                                                            "description": "Set to true to include access level information for users\nwith <a href=\"https://support.google.com/vault/answer/6099459#metadata\">indirect access</a>\nto files.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "groupsOptions": {
                                                    "description": "Option available for groups export.",
                                                    "properties": {
                                                        "exportFormat": {
                                                            "description": "The export format for groups export.",
                                                            "enum": [
                                                                "EXPORT_FORMAT_UNSPECIFIED",
                                                                "MBOX",
                                                                "PST"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "hangoutsChatOptions": {
                                                    "description": "Option available for hangouts chat export.",
                                                    "properties": {
                                                        "exportFormat": {
                                                            "description": "The export format for hangouts chat export.",
                                                            "enum": [
                                                                "EXPORT_FORMAT_UNSPECIFIED",
                                                                "MBOX",
                                                                "PST"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "mailOptions": {
                                                    "description": "Option available for mail export.",
                                                    "properties": {
                                                        "exportFormat": {
                                                            "description": "The export file format.",
                                                            "enum": [
                                                                "EXPORT_FORMAT_UNSPECIFIED",
                                                                "MBOX",
                                                                "PST"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "showConfidentialModeContent": {
                                                            "description": "Set to true to export confidential mode content.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "region": {
                                                    "description": "The requested export location.",
                                                    "enum": [
                                                        "EXPORT_REGION_UNSPECIFIED",
                                                        "ANY",
                                                        "US",
                                                        "EUROPE"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "description": "Output only. The generated export ID.",
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "description": "Output only. The matter ID.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The export name.",
                                            "type": "string"
                                        },
                                        "query": {
                                            "description": "The search query being exported.",
                                            "properties": {
                                                "accountInfo": {
                                                    "description": "When 'ACCOUNT' is chosen as search method,\naccount_info needs to be specified.",
                                                    "properties": {
                                                        "emails": {
                                                            "description": "A set of accounts to search.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "corpus": {
                                                    "description": "The corpus to search.",
                                                    "enum": [
                                                        "CORPUS_TYPE_UNSPECIFIED",
                                                        "DRIVE",
                                                        "MAIL",
                                                        "GROUPS",
                                                        "HANGOUTS_CHAT"
                                                    ],
                                                    "type": "string"
                                                },
                                                "dataScope": {
                                                    "description": "The data source to search from.",
                                                    "enum": [
                                                        "DATA_SCOPE_UNSPECIFIED",
                                                        "ALL_DATA",
                                                        "HELD_DATA",
                                                        "UNPROCESSED_DATA"
                                                    ],
                                                    "type": "string"
                                                },
                                                "driveOptions": {
                                                    "description": "For Drive search, specify more options in this field.",
                                                    "properties": {
                                                        "includeTeamDrives": {
                                                            "description": "Set to true to include Team Drive.",
                                                            "type": "boolean"
                                                        },
                                                        "versionDate": {
                                                            "description": "Search the versions of the Drive file\nas of the reference date. These timestamps are in GMT and\nrounded down to the given date.",
                                                            "format": "google-datetime",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "endTime": {
                                                    "description": "The end time range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                },
                                                "hangoutsChatInfo": {
                                                    "description": "When 'ROOM' is chosen as search method, hangout_chats_info needs to be\nspecified. (read-only)",
                                                    "properties": {
                                                        "roomId": {
                                                            "description": "A set of rooms to search.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "hangoutsChatOptions": {
                                                    "description": "For hangouts chat search, specify more options in this field. (read-only)",
                                                    "properties": {
                                                        "includeRooms": {
                                                            "description": "Set to true to include rooms.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "mailOptions": {
                                                    "description": "For mail search, specify more options in this field.",
                                                    "properties": {
                                                        "excludeDrafts": {
                                                            "description": "Set to true to exclude drafts.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "orgUnitInfo": {
                                                    "description": "When 'ORG_UNIT' is chosen as as search method, org_unit_info needs\nto be specified.",
                                                    "properties": {
                                                        "orgUnitId": {
                                                            "description": "Org unit to search, as provided by the\n<a href=\"https://developers.google.com/admin-sdk/directory/\">Admin SDK Directory API</a>.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "searchMethod": {
                                                    "description": "The search method to use.",
                                                    "enum": [
                                                        "SEARCH_METHOD_UNSPECIFIED",
                                                        "ACCOUNT",
                                                        "ORG_UNIT",
                                                        "TEAM_DRIVE",
                                                        "ENTIRE_ORG",
                                                        "ROOM"
                                                    ],
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "description": "The start time range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                },
                                                "teamDriveInfo": {
                                                    "description": "When 'TEAM_DRIVE' is chosen as search method, team_drive_info needs to be\nspecified.",
                                                    "properties": {
                                                        "teamDriveIds": {
                                                            "description": "List of Team Drive ids, as provided by <a\nhref=\"https://developers.google.com/drive\">Drive API</a>.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "terms": {
                                                    "description": "The corpus-specific\n<a href=\"https://support.google.com/vault/answer/2474474\">search operators</a>\nused to generate search results.",
                                                    "type": "string"
                                                },
                                                "timeZone": {
                                                    "description": "The time zone name.\nIt should be an IANA TZ name, such as \"America/Los_Angeles\".\nFor more information, see\n<a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\">Time\nZone</a>.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "requester": {
                                            "description": "Output only. The requester of the export.",
                                            "properties": {
                                                "displayName": {
                                                    "description": "The displayed name of the user.",
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "description": "The email address of the user.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "stats": {
                                            "description": "Output only. Export statistics.",
                                            "properties": {
[...]
